.bottom-menu {
    &__navlinks {
        display: none;
    }
}

@media (max-width: 768px) {
    .bottom-menu {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        background-color: #f5f5f5;
        border-top: 1px solid #e0e0e0;
        &__navlinks {
            display: flex;
        }
    }
}
