.repos-list {
    &__title {
        font-size: larger;
        color: $link;
        &:hover {
            color: $link-hover;
            text-decoration: underline;
        }
    }

    &__repo {
        border: 1px solid #e0e0df;
        border-radius: 4px;
        padding: 8px;
        background: white;
        margin: 8px 0;
    }
}
