$main-bg: #fafafa;
$main-color: #222;

$primary: #646cff;
$secondary: #61dafb;

$text-dark: #171717;
$text: #666;

$link: #3b82f6;
$link-hover: #2563eb;

$succes: #52c41a;
$danger: #ff4d4f;

$border: #f1f1f1;
