$main-bg: #fafafa;
$main-color: #222;

$primary: #646cff;
$secondary: #61dafb;

$text-dark: #171717;
$text: #666;
$text-light: #999;

$link: #3b82f6;
$link-hover: #2563eb;

$success: #6bcaa1;
$danger: #ff4d4f;
$info: #0051ff;

$border: #f1f1f1;
$border-dark: #e0e0e0;
