:root {
    font-family: 'Geist Variable';

    line-height: 1.5;
    font-weight: 400;

    color: $text;
    background-color: $main-bg;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;

    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }
}

a {
    color: $link;
    text-decoration: none;
    :hover {
        color: $link-hover;
    }
}

.bold {
    font-weight: bold;
}

input {
    padding: 8px;
    border-radius: 4px;
    outline: none;
    border: 1px solid $border-dark;
    font-size: medium;
    font-family: 'Geist Variable';
}

label {
    display: flex;
    font-size: small;
    color: $text-light;
}

.start-adorment {
    width: 20px;
    height: 20px;
    color: gray;
}
