:root {
    font-family: 'Geist Variable';

    line-height: 1.5;
    font-weight: 400;

    color: $text;
    background-color: $main-bg;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: $link;
    text-decoration: none;
    :hover {
        color: $link-hover;
    }
}

.bold {
    font-weight: bold;
}
