:root {
    font-family: 'Geist Variable';

    line-height: 1.5;
    font-weight: 400;

    color: $text;
    background-color: $main-bg;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;

    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }
}

a {
    color: $link;
    text-decoration: none;
    :hover {
        color: $link-hover;
    }
}

.bold {
    font-weight: bold;
}

input {
    padding: 8px;
    border-radius: 8px;
    outline: none;
    border: 1px solid $border-dark;
    font-size: medium;

    &:hover,
    &:active,
    &:focus {
        border: 1px solid $link-hover;
    }
}

label {
    display: flex;
    font-size: small;
    color: $text-light;
}
